:root {
    --bs-gradient: linear-gradient(to left, rgba(255,0,0,0), rgb(71, 71, 136) );
    --bs-gradient_2: linear-gradient(to left, rgb(71, 71, 136) , rgb(255, 255, 255) );
    --text-light: rgb(251, 233, 210);
    --text-neutral: rgb(71, 71, 136);
}
body {
    background-color: var(--text-light);
}

.jumbotron {
    color: var(--text-light);
    padding-top: 2px;
    height: 12vh;
    padding-left: 10px;
    background-image: var(--text-neutral);
    
}
.current h1 {
    font-size: 50px;
}
h2 {
    color: var(--text-neutral);
    height: max-content
}
h4, h5, h6 {
    color: var(--text-neutral);

}

.dateAndTime {
    text-align: center;
    color: var(--text-light);
    border-radius: 5px;
    height: min-content;
    background-color: rgba(71, 71, 136, 0.487);
}

.current {
    border-radius: 25px;
    background-image: var(--bs-gradient_2);
}

.submitBtn:active { 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.currentStats {
    padding: 0;

}
.uviCircle {
    height:10px;
    width: 10px;
}
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.violet {
    background-color: purple;
}

.weatherIconDiv {
    padding: 0;
}

.forecastDiv {
    background-image: linear-gradient(to left, rgb(71, 71, 136) , rgba(0, 0, 0, 0.414) );
    border-radius: 25px;
    display: none;
}
.forecastDiv h3 {
    color: var(--text-light)
}
.forecastDiv p {
    color: var(--text-light);
}